.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #797572;
  background-image: -webkit-linear-gradient(263deg, rgba(255, 255, 255, 0.2) 0%, #000000 100%), -webkit-linear-gradient(18deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.25) 100%), -webkit-radial-gradient(47% 102%, rgba(255, 255, 255, 0.5) 0%, rgba(21, 24, 32, 0.6) 120%);
  background-image: linear-gradient(-173deg, rgba(255, 255, 255, 0.2) 0%, #000000 100%), linear-gradient(72deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(47% 102%, rgba(255, 255, 255, 0.5) 0%, rgba(21, 24, 32, 0.6) 120%);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 130px;
  height: 130px;
  font-size: 75px;
  /* color: rgb(211, 211, 211); */
  background: url('../nu1930-fk.jpg');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
  font-style: oblique;
  position: relative;
  display: inline-block;
}

.second-logo:before, .second-logo:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px rgb(212, 181, 181);
  border-bottom: solid 1px rgb(212, 181, 181);
}

.second-logo:before {
  left: -60px;
}

.second-logo:after {
  right: -70px;
}

